[user]
    name = pbsinclair42
    email = bobsmith0030+git2@gmail.com

[push]
    default = simple

[commit]
    template = ~/.gittemplate

[alias]
    st = status
    statsu = status
    stauts = status
    staust = status
    statua = status
    select = add --patch
    co = commit
    cm = commit -m
    uncommit = reset --soft HEAD^
    fix = commit --amend
    di = diff --color-words
    preview = diff --cached --color-words
    pr = diff --cached --color-words
    last = diff --cached HEAD^ --color-words
    unadd = reset
    master = checkout master
    logs = log --pretty=format:'%n%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)<%aN>%Creset%+b%n' --stat
    logd = log --pretty=format:'%n%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)<%aN>%Creset%+b' --patch --color-words
    lg = log --pretty=format:'%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
    popular = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort -r | less -FX
    graph = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    alias = "!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t\\2/' | awk 'BEGIN {i=0 ; max=0} {res[i]=$1; $1=\"\"; res[i+1]=$0; res[i+2]=int((length(res[i]))/8); if(res[i+2]>max)max=res[i+2]; i=i+3; } END {for (j=0;j<length(res)-1;j++){ t=\"\"; for(i=0;i<max-res[j+2];i++){t=t \"\\t\"};print res[j] t,\"=>\" res[j+1];j+=2}}' "
