[user]
    name = pbsinclair42
    email = bobsmith0030+git2@gmail.com

[push]
    default = simple

[commit]
    template = ~/.gittemplate.txt

[alias]
    st = status
    statsu = status
    stauts = status
    staust = status
    statua = status
    co = commit
    cm = commit -m
    uncommit = reset --soft HEAD^
    fix = commit --amend
    di = diff
    preview = diff --cached --color-words
    pr = diff --cached --color-words
    unadd = reset
    master = checkout master
    logs = log --pretty=format:'%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)<%aN>%Creset%+b%n' --stat
    logd = log --pretty=format:'%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)<%aN>%Creset%+b%n' --patch
    lg = log --pretty=format:'%Cred%h %Creset%s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
    popular = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort -r | less
    graph = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/'
